* {
  padding: 0;
  margin: 0;
}

body {
  /* height: 100vh; */
  min-height: 100vh;
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: hsl(212, 45%, 89%);
}

.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background: hsl(0, 0%, 100%);
  /* height: 470px; */
  /* width: 320px; */
  max-width: 320px;
  padding: 20px;
  gap: 20px;
  text-align: center;
}

.container img {
  border-radius: 20px;
  /* width: 280px; */
  max-width: 100%;
  height: auto;
}

.head {
  font-weight: 700;
  color: hsl(218, 44%, 22%);
  padding: 0px 25px;
}

.text {
  font-weight: 400;
  color: hsl(220, 15%, 55%);
  padding: 0px 25px;
}

h1,
p {
  font-size: 0.9375rem;
}
